server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      mvc:
        routes:
          - id: auth-service
            uri: http://localhost:8081
            predicates:
              - Path=/api/auth/**

          - id: claim-service
            uri: http://localhost:8085
            predicates:
              - Path=/api/claims/**

          - id: pricing-service
            uri: http://localhost:8083
            predicates:
              - Path=/api/prices/**

jwt:
  secret: mySuperSecretKeyForJwtTokenThatIsAtLeast32CharsLong!!
  expiration-ms: 86400000